
<h1>Posts Index </h1>
<%= link_to "Add Post", new_post_path %>
<br>
<%# <%= form_with url: posts_path, method: :get do %> %>
<%# <%= select_tag "author", options_from_collection_for_select(Author.all, "id", "name"), include_blank: true %> %>
<%# <%= select_tag "date", options_for_select(["Today", "Old News"]), include_blank: true %> %>
<%# <%= submit_tag "Filter" %> %>
<%# <% end %> %>
<br>
<%= render :partial => "post", :collection => @posts %>
